# Node modules
node_modules/

# Variáveis de ambiente
.env
# Seeds
src/seeders/
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build ou cache (se houver)
dist/
.cache/

# Arquivos de coverage de testes
coverage/